<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>음악을 추천해 드립니다!</title>
    </head>
    <body>
        <h2>음악을 추천해 드립니다!</h2>
        <h3>기간과 단어를 입력해서 유사한 음악을 추천받고 싶다면:</h3>
        <form method='post' action='music1'>
            <input type="submit" value="가사로 추천">
        <h3>멜론 플레이리스트에 담긴 장르와 시대별로 유사한 장르의 음악을 추천받고 싶다면:</h3>
        </form>
        <form method='post' action='music2'>
            <input type="submit" value="장르로 추천">
        </form>
    </body>
</html>