<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Music1 - 가사로 추천</title>
    </head>
    <body>
        <h2>어서오십시오 DSS15</h2>
        <h3>특정 기간을 정하여 입력한 주제와 관련된 노래를 추천받으세요 :)</h3>
        <form method='post' action='music_result1'>
            <input type="text" name="year_end", placeholder="끝 년도">
            <input type="text" name="year_start", placeholder="시작 년도">
            <input type="text" name="look_keyword", placeholder="유사 단어 (예: 사랑)">
            <input type="submit" value="확인">
        </form>
    </body>
</html>